/** * CSS 02 - Media Queries
 * Curso de HTML y CSS - 2025
 * Mobile First Design
 */

.oferta {
    background-color: #00446e;
    padding: 2rem;
    text-align: center;
    max-width: 80rem;
    margin: 0 auto;
}
.precio {
    font-size: 4rem;
    margin: 0;
}

/** Nota importante, el orden de los Media Queries es importante, ya que se aplican de arriba hacia abajo. **/
/** En este caso, para mobile first se recomienda los mas pequeños primero y luego los mas grandes, para desktop first es al reves. **/
@media (min-width: 600px) {
    .oferta {
        max-width: 40rem;
        margin: 0 auto;
    }
}

@media (min-width: 800px) {
    .oferta {
        max-width: 60rem;
    }
}