:root {
  --azul: #0071b7;
  --blanco: #fff;
  --naranja: #ff4f1e;
}
html {
  font-size: 62.5%; /** 1REM = 10pX **/
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: var(--azul);
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
}

h1,
h2 {
  color: var(--blanco);
  text-align: center;
  margin: 5rem 0;
  padding: 1rem;
}
.caja-curso {
  background-color: var(--naranja);
  text-align: center;
  color: var(--blanco);
  padding: 5rem;
}
.caja-curso h1 {
  margin: 0;
}
.caja-curso p {
  font-size: 2.4rem;
}
.caja-curso a {
  font-size: 2.4rem;
  padding: 2rem;
  display: inline-block;
  text-decoration: none;
  color: var(--blanco);
  padding: 0;
}

.contenedor {
  max-width: 120rem;
  margin: 0 auto;
}
.box {
  background-color: var(--naranja);
  color: var(--blanco);
  padding: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  border: 1rem solid #bb2b03;
}

.contenedor > div {
  background-color: var(--blanco);
  padding: 5rem;
}

/** 1 - Display Flex **/
.d-flex {
  display: flex;
}

/** 2 - Flex Direction **/
.d-flex-2 {
  display: flex;
  flex-direction: row-reverse;
}

/** 3 - Justify Content (Row) **/
.d-flex-3 {
  display: flex;
  /*justify-content: flex-start; Alinea los elementos al inicio del contenedor */
  /*justify-content: flex-end; Alinea los elementos al final del contenedor */
  /*justify-content: space-around; Deja espacio igual entre los elementos y en las esquinas deja la mitad del espacio */
  /*justify-content: space-evenly; Deja espacio igual entre los elementos y en las esquinas deja el mismo espacio */
  /*justify-content: space-between; Deja espacio igual entre los elementos pero no deja espacio en las esquinas */
  /*justify-content: center; Centra los elementos en el contenedor */
  /*justify-content: stretch; Estira los elementos para que ocupen todo el contenedor - Basicamente un display block */
}

/** 4 - Justify Content (Column) **/
.d-flex-4 {
  display: flex;
  flex-direction: column;
  height: 1000px;
  /*justify-content: flex-start; Alinea los elementos al inicio (vertical) del contenedor */
  /*justify-content: flex-end; Alinea los elementos al final (vertical) del contenedor */
  /* mismos justify-content que en row pero en vertical... */
}

/** 5 - Align Items (Row) **/
.d-flex-5 {
  display: flex;
  height: 700px;
  /*align-items: stretch; Estira los elementos para que ocupen toda la altura del contenedor (por defecto) */
  /*align-items: flex-start; Alinea los elementos al inicio (vertical) del contenedor */
  /*align-items: flex-end; Alinea los elementos al final (vertical) del contenedor */
  /*align-items: center; Centra los elementos verticalmente en el contenedor */
  /*align-items: baseline; Alinea los elementos por la linea base del texto */
}

/** 6 - Align Items (Column) **/
.d-flex-6 {
  display: flex;
  flex-direction: column;
  height: 750px;
  /* align-items: stretch; Estira los elementos para que ocupen todo el ancho del contenedor (por defecto) */
  /* align-items: flex-start; Alinea los elementos al inicio (horizontal) del contenedor */
  /* align-items: flex-end; Alinea los elementos al final (horizontal) del contenedor */
  /* mismos align-items que en row pero en horizontal... */
}

/** 7 - Justify Content & Align Items **/
.d-flex-7 {
  display: flex;
  height: 800px;

  /** Valores Default **/
  /* flex-direction: row;
  justify-content: flex-start;
  align-items: stretch; */
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/** 8 - Flex Basis **/
.d-flex-8 {
  display: flex;
}
.d-flex-8 .box {
  flex-basis: 33.3%; /** Ancho inicial del elemento flex **/
  /** Si no hay ancho suficiente, se estira o se encoge dependiendo del flex-grow y flex-shrink **/
}

/** 9 - Gap & Calc **/
.d-flex-9 {
  display: flex;
  justify-content: space-between;
  /* gap: 9rem; - Forma easy */
}
.d-flex-9 .box {
  /** Usando calc **/
  /** El porcentaje seria el ancho en el cual se distribuyen los elementos **/
  flex-basis: calc(
    33.3% - 1rem
  ); /** El espacio restado seria basicamente el gap entre cada elemento **/
  /** Con calc, se calcula el ancho que quiero que tomen (33.3%) - el gap y asi simula el gap entre los elementos **/
}
.d-flex-9 .box:nth-child(1) {
  flex-basis: calc(50% - 1rem);
}
.d-flex-9 .box:nth-child(2),
.d-flex-9 .box:nth-child(3) {
  flex-basis: calc(25% - 1rem);
}

/** 10 - Flex Wrap **/
.d-flex-10 {
  display: flex;
  /* flex-wrap: nowrap; No permite que los elementos hagan wrap (por defecto) */
  flex-wrap: wrap;
  /* flex-wrap: wrap-reverse; Permite que los elementos hagan wrap pero en orden inverso */
}
.d-flex-10 .box {
  flex-basis: 33.3%;
}

/** 11 - Flex Grow **/
/* Por defecto los elementos flex pueden crecer vertical con un simple height */
/* pero no pueden crecer horizontalmente a menos que se les indique con flex-grow */
.d-flex-11 {
  display: flex;
  height: 500px;
}
/** Como todos tienen un mismo flex-grow, todos tomaran un espacio equitativo igual **/
/** A menos que lo aplique a cada hijo o elemento por separado **/
.d-flex-11 .box {
  /** el numero que recibe flex-grow es la cantidad de pixeles que recibira en cada iteracion de crecimiento **/
  flex-grow: 1; /** Permite que los elementos crezcan horizontalmente **/
}
.d-flex-11 .box:nth-child(1) {
  flex-grow: 3; /** Este elemento tomara el triple de espacio que los demas **/
}
.d-flex-11 .box:nth-child(2) {
  flex-grow: 2; /** Este elemento tomara el doble de espacio que los demas **/
}
/** Si no toma el doble o triple exacto, es por la composicion de un elemento **/
/** Recordando: margin + border + padding + width = total size **/

/** 12 - Flex Shrink **/
.d-flex-12 {
  display: flex;
}
.d-flex-12 .box {
  flex-grow: 1; /** creceran con factor de 1 **/
  flex-basis: 300px; /** con una base de 300px **/
}
.d-flex-12 .box:nth-child(3) {
  /** flex-shrink por defecto es 1 **/
  /** Este elemento se encogera mas rapido que los demas **/
  flex-shrink: 2; /** multiplicador de encogimiento 2 veces mas rapido **/
}

/** 13 - Align Self **/
.d-flex-13 {
  display: flex;
  height: 600px;
  justify-content: center;
  align-items: center; /** Todos los elementos se alinean al centro **/
}
.d-flex-13 .box:nth-child(1),
.d-flex-13 .box:nth-child(2),
.d-flex-13 .box:nth-child(6),
.d-flex-13 .box:nth-child(7) {
  align-self: flex-start; /** Este elemento se alinea al inicio **/
}

.d-flex-13 .box:nth-child(4) {
  align-self: flex-end; /** Este elemento se alinea al final **/
}

.d-flex-13 .box:nth-child(2),
.d-flex-13 .box:nth-child(6) {
  margin-top: 10rem;
}

.d-flex-13 .box:nth-child(3),
.d-flex-13 .box:nth-child(5) {
  margin-top: 10rem;
}

/** 14 - Flex Shorthand **/
.d-flex-14 {
  display: flex;
  justify-content: space-between; /** para que se note el gap con los calc **/
  /** Si uso el gap moderno seria el gap sin el justify-content **/
  /** gap: 2rem; **/
  /** y en el calc solo podria el ancho inicial q quiera, por ej: 33.3% **/
}

.d-flex-14 .box {
  /* flex-basis: 33.3%;
  flex-grow: 1;
  flex-shrink: 1; */
  flex: 1 0 33.3%; /** flex-grow | flex-shrink | flex-basis **/
  flex: 1; /** Mayormente se usara asi, ya que el basis 33.3% no tiene mucho sentido al ser flex-grow 1 **/
  /** Si quiero darle una forma exacta seria algo asi **/
  flex: 0 0 calc(33.3% - 1rem); /** No crecera, no se encogera y tomara un ancho exacto **/
  /** flex: 0 0 33.3%; **/
}
