html {
  /* Incluye el padding dentro del ancho total */
  box-sizing: border-box; /* Aplica box-sizing a todos los elementos */
  font-size: 62.5%; /* 1rem = 10px, default 16px */
}
*,
*:before,
*:after {
  box-sizing: inherit; /* Hereda box-sizing de html */
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem; /* 16px */
  line-height: 1.6;
}

/**************/
/** Globales **/
/**************/

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
  margin: 0 0 0 5rem 0; /* top right bottom left */
  /* margin-bottom: 5rem; */
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2.8rem;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: underline;
}

img {
  display: block; /* Elimina el espacio debajo de la imagen */
  max-width: 100%;
}

.contenedor {
  max-width: 120rem;
  margin: 0 auto;
}

/****************/
/** Utilidades **/
/****************/

.text-center {
  text-align: center;
}

.max-width-30 {
  max-width: 30rem;
}

.btn {
  background-color: #8cbc00;
  border: none;
  display: block;
  color: #fff;
  text-transform: uppercase;
  font-weight: 900;
  padding: 1rem;
  transition: background-color 0.3s ease-out;
  text-align: center;
}

.btn:hover {
  cursor: pointer;
  background-color: #769c02;
  text-decoration: none;
}

/*************************/
/** Header y Navegacion **/
/*************************/

.nombre-sitio {
  text-align: center;
  margin-top: 5rem;
}

.nombre-sitio span {
  color: #037bc0;
}

.contenedor-navegacion {
  /* border-color: #e1e1e1;
  border-top-style: solid;
  border-width: 1px; */
  border: 0.1rem solid #e1e1e1;
}

.nav-principal {
  padding: 2rem 0; /* top right bottom left / yx-y-x */
  display: flex;
  justify-content: space-around;
}

.hero {
  background-image: url("../img/principal.jpg");
  background-repeat: no-repeat; /** Evita que la imagen se repita **/
  background-size: cover; /** Cubre todo el contenedor **/
  background-position: center center; /** Centra la imagen **/
  height: 55rem;
}

/****************/
/** Categorias **/
/****************/

.categorias h2 {
  padding: 5rem 0;
}

.categoria a {
  display: block;
  text-align: center;
  padding: 2rem;
  font-size: 2rem;
}

.categoria a:hover {
  background-color: #037bc0;
  color: #fff;
  border-bottom-right-radius: 1rem;
}

.listado-categorias {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

/*********************/
/** Bloque Nosotros **/
/*********************/

.sobre-nosotros {
  /* Primer capa: gradient que cubre todo el fondo.
   El lado transparente deja ver la imagen que está debajo.
   El lado opaco oculta la imagen. */
  background-image: linear-gradient(
      to right,
      transparent 50%,
      #037bc0 50%,
      #037bc0 100%
    ),
    /* Segunda capa: la imagen de fondo, siempre debajo del gradient */
      url("../img/nosotros.jpg");

  padding: 10rem 0;
  background-repeat: no-repeat;
  background-size: 100%, 120rem;
  /* Posiciona ambas capas juntas (imagen + gradient) */
  background-position: left center;
  height: 40rem;
  margin-top: 10rem;
}

/* .sobre-nosotros-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 8rem;
}

.texto-nosotros {
  grid-column: 2 / 3; Ubica el texto de la linea 2 a la linea 3 (segunda columna)
} */

.sobre-nosotros-grid {
  display: flex;
  justify-content: flex-end;
}

.texto-nosotros {
  flex-basis: 50%; /* Ocupa el 50% del contenedor padre */
  padding-left: 10rem;
  color: #fff;
}

/**************************/
/** Listado de Productos **/
/**************************/

.contenido-principal {
  padding-top: 5rem;
}

.listado-productos {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 2rem; /* gap-row gap-column */
}

.producto:nth-child(1) {
  grid-column: 1 / 7; /* Desde la columna 1 hasta la 7 (6 columnas) */
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.producto:nth-child(1) img {
  height: 43rem;
  width: 100%;
  object-fit: cover; /* Ajusta la imagen para cubrir el contenedor sin distorsionarse */
}

.producto:nth-child(2) {
  grid-column: 1 / 4; /* Desde la columna 1 hasta la 4 (3 columnas) */
}
.producto:nth-child(3) {
  grid-column: 4 / 7; /* Desde la columna 4 hasta la 7 (3 columnas) */
}
.producto:nth-child(2) img,
.producto:nth-child(3) img {
  height: 30rem;
  width: 100%;
  object-fit: cover; /* Ajusta la imagen para cubrir el contenedor sin distorsionarse */
}

.producto:nth-child(4) {
  grid-column: 1 / 3; /* Desde la columna 1 hasta la 3 (2 columnas) */
}
.producto:nth-child(5) {
  grid-column: 3 / 5; /* Desde la columna 3 hasta la 5 (2 columnas) */
}
.producto:nth-child(6) {
  grid-column: 5 / 7; /* Desde la columna 5 hasta la 7 (2 columnas) */
}

.producto {
  background-color: #037bc0;
}

.texto-producto {
  text-align: center;
  color: #fff;
  padding: 2rem;
}

.texto-producto h3 {
  margin: 0 0 1rem 0; /*0*/
}
.texto-producto p {
  margin: 0 0 0.8rem 0;
}

.texto-producto .precio {
  font-size: 2.8rem;
  font-weight: 900;
}

/************/
/** Footer **/
/************/

.site-footer {
  border-top: 1px solid #e1e1e1;
  margin-top: 5rem;
}

.site-footer h3 {
  margin-bottom: 1.5rem;
}

.grid-footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3rem;
  margin-bottom: 2rem;
}

.footer-contenido nav {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.site-footer:nth-child(4) {
  grid-column: 1 / 4;
}

.copyright {
  margin-top: 5rem;
}

/**************/
/** Nosotros **/
/**************/

.contenido-nosotros {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-columns: repeat(
    /** Ajusta el número de columnas según el tamaño del contenedor **/ auto-fit,
    /** Ajusta el número de columnas automáticamente **/ minmax(40rem, 1fr)
      /** Cada columna tendrá un tamaño mínimo de 30rem y máximo de 1fr **/
  );
  column-gap: 5rem;
}

.informacion-nosotros {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/**********/
/** Blog **/
/**********/

.contenedor-blog {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 4rem;
}

.entrada {
  border-bottom: 2px solid #e1e1e1;
  padding-bottom: 4rem;
  margin-bottom: 2rem;
}
.entrada:last-of-type {
  border: none;
}
.entrada-meta {
  display: flex;
  justify-content: space-between;
}
.entrada-meta p {
  font-weight: 700;
}
.entrada-meta span {
  color: #037bc0;
}
.contenido-entrada-blog {
  width: 60rem;
  margin: 0 auto;
}

/*************/
/** Galeria **/
/*************/

.galeria {
  display: grid;
  list-style: none;
  padding: 0;
  margin: 0;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.galeria img {
  width: 40rem;
  height: 40rem;
  object-fit: cover;
}

/****************/
/** Formulario **/
/****************/

.formulario {
  max-width: 60rem;
  margin: 0 auto;
}

.formulario fieldset {
  border: 2px solid black;
  margin-bottom: 2rem;
  padding: 2rem;
}

.formulario legend {
  background-color: #005485;
  color: #fff;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  padding: 1rem;
  margin-bottom: 4rem;
}

.campo {
  display: flex;
  margin-bottom: 2rem;
}
.campo label {
  flex-basis: 10rem; /* Ancho fijo para los labels */
}
.campo input:not([type="radio"]), /** Aplica a todos los input y excluye los radio buttons **/
textarea,
select {
  flex: 1; /* Ocupa todo el espacio disponible */
  border: 1px solid #e1e1e1;
  padding: 1rem;
}
