:root {
  --color-primary: #1073ba;
  --color-secondary: #00da55;

  /* color gris del curso */
  --color-text: #3b3b3b;

  /* color blanco del curso */
  --color-text-inverse: #ffffff;
  --color-background: #ffffff;

  /* color gris claro del curso */
  --color-surface: #e1e1e1;

  /* color negro del curso */
  --color-black: #1f1e1e;

  /* var separacion del curso */
  --space-5: 5rem;

  --font-primary: "Roboto", sans-serif;
  --font-secondary: "Lato", sans-serif;
}

html {
  box-sizing: border-box; /* Para que todo el padding, border, etc se sume al ancho y no solamente el content */
  font-size: 62.5%; /* Para convertir 1rem en 10px */
}

*,
*:before,
*:after {
  box-sizing: inherit; /* Heredamos el box-sizing del html para todos los elementos, y pseudo-elementos :before y :after */
}

body {
  font-family: var(--font-primary);
  font-size: 1.6rem; /* Todos los textos mediran 16px en su size base */
  line-height: 1.5; /* Interlineado de 1.5 */
}

/** Globales **/

.container {
  max-width: 120rem;
  width: 90%;
  margin: 0 auto;
}

h1,
h2,
h3 {
  font-weight: 900;
  font-family: var(--font-secondary);
  margin: calc(var(--space-5) / 2) 0; /* 2.5rem con el calc, ya que space-5 es 5rem / 2 = 2.5 */
}
h1 {
  font-size: 4.4rem;
}
h2 {
  font-size: 3.6rem;
}
h3 {
  height: 2.8rem;
}
img {
  max-width: 100%; /* Para que las imágenes no se salgan del contenedor, y se adapten a su tamaño */
  display: block; /* Para eliminar el espacio debajo de las imágenes, que es causado por el comportamiento inline de las imágenes */
  height: auto; /* Para mantener la proporción de las imágenes al redimensionarlas */
}

/** Utilidades **/

.text-center {
  text-align: center;
}

/** Degradados **/

.green-gradient {
  /* Para que el degradado se aplique al texto, y no al fondo del elemento, usamos background-clip: text, y color: transparent para que el texto sea transparente y deje ver el fondo con el degradado */
  color: transparent;
  background: linear-gradient(
    to right,
    var(--color-primary) 0%,
    var(--color-secondary) 100%
  );
  /* El prefijo -webkit- es necesario para que funcione en algunos navegadores, como Chrome, Safari, etc */
  -webkit-background-clip: text;
  background-clip: text;
}

/** Header **/

.header {
  background-color: var(--color-black);
  padding: calc(var(--space-5) * 3) 0;
  color: var(--color-text-inverse);
}

@media (min-width: 768px) {
  .header-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.header-text {
  text-align: center;
  padding-top: var(--space-5);
}

@media (min-width: 768px) {
  .header-text {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
  }
}

.header-text p {
  margin: 0;
}

.product-tagline {
  font-size: 3rem;
  font-weight: 900;
}

.product-name {
  font-size: 6rem;
  margin: 0;
}

@media (min-width: 768px) {
  .product-name {
    font-size: 10rem;
    line-height: 1;
  }
}

.product-price span {
  font-size: 6rem;
  font-weight: 900;
}

/** Iconos **/

.icons {
  padding: calc(var(--space-5) * 1.2) 0;
}

@media (min-width: 768px) {
  .icons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
  }
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: calc(var(--space-5) / 2);
}
.icon:last-of-type {
  margin: 0;
}

@media (min-width: 768px) {
  .icon {
    margin: 0;
  }
}

.icon img {
  width: 5rem;
}
.icon h3 {
  color: var(--color-primary);
  text-transform: uppercase;
  margin-top: calc(var(--space-5) / 2);
}

/** Sobre Tech PRO **/

.about-tech {
  background-position: right;
  background-repeat: repeat, no-repeat;
  background-size: 100%, 110rem;
}

.notavif.notwebp .about-tech {
  background-image:
    linear-gradient(
      to bottom,
      transparent 50%,
      var(--color-primary) 0%
        /* En vez del 100% para que el degradado se aplique el color completo en la parte inferior y no sea como un degradado suave */
    ),
    url(../img/imagen-mujer.jpg);
}
.webp .about-tech {
  background-image:
    linear-gradient(
      to bottom,
      transparent 50%,
      var(--color-primary) 0%
        /* En vez del 100% para que el degradado se aplique el color completo en la parte inferior y no sea como un degradado suave */
    ),
    url(../img/imagen-mujer.webp);
}
.avif .about-tech {
  background-image:
    linear-gradient(
      to bottom,
      transparent 50%,
      var(--color-primary) 0%
        /* En vez del 100% para que el degradado se aplique el color completo en la parte inferior y no sea como un degradado suave */
    ),
    url(../img/imagen-mujer.avif);
}
@media (min-width: 768px) {
  .about-tech {
    background-repeat: repeat, no-repeat;
  }
  .notavif.notwebp .about-tech {
    background-image:
      linear-gradient(
        to left,
        transparent 50%,
        var(--color-primary) 0%
          /* En vez del 100% para que el degradado se aplique el color completo en la parte inferior y no sea como un degradado suave */
      ),
      url(../img/imagen-mujer.jpg);
  }
  .webp .about-tech {
    background-image:
      linear-gradient(
        to left,
        transparent 50%,
        var(--color-primary) 0%
          /* En vez del 100% para que el degradado se aplique el color completo en la parte inferior y no sea como un degradado suave */
      ),
      url(../img/imagen-mujer.webp);
  }
  .avif .about-tech {
    background-image:
      linear-gradient(
        to left,
        transparent 50%,
        var(--color-primary) 0%
          /* En vez del 100% para que el degradado se aplique el color completo en la parte inferior y no sea como un degradado suave */
      ),
      url(../img/imagen-mujer.avif);
  }
}

@media (min-width: 1600px) {
  .about-tech {
    background-size: 100%, 210rem;
  }
}

.about-tech-grid {
  display: grid;
  grid-template-rows: repeat(2, 40rem);
  row-gap: var(--space-5);
}

@media (min-width: 768px) {
  .about-tech-grid {
    grid-template-rows: unset;
    row-gap: unset;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 6rem;
    padding: calc(var(--space-5) * 2) 0;
  }
}

.about-tech-text {
  grid-row: 2/3;
  color: var(--color-text-inverse);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-bottom: var(--space-5);
}
@media (min-width: 768px) {
  .about-tech-text {
    padding-bottom: 0;
  }
}

.about-tech-text h2 {
  font-size: 4rem;
}
.about-tech-text p {
  font-size: 2rem;
  line-height: 2;
}

/** Modelos **/

.models {
  padding: var(--space-5) 0;
}

.models-header {
  font-size: 6rem;
  margin-bottom: var(--space-5);
}

.models-list {
  display: flex;
  flex-direction: column-reverse;
}

@media (min-width: 992px) {
  .models-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 20rem);
    gap: 4rem;
  }
}

.model {
  background-color: var(--color-surface);
  margin-bottom: 2rem;
  padding-left: 4rem;
  color: var(--color-primary);
  border-radius: 2rem;
  min-height: 20rem; /* Para que las cards tengan una altura mínima, y no se vean muy pequeñas si el contenido es poco */
  background-repeat: no-repeat;
  background-position: 90% center;
  background-size: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition-property: transform, background-size;
  transition-duration: 300ms;
}

.model:hover {
  transform: scale(1.1);
  background-size: 30rem;
}

@media (min-width: 992px) {
  .model {
    margin-bottom: 0;
  }
}

.model h3 {
  font-size: 2.4rem;
}

.model .price {
  font-size: 4rem;
  font-weight: 900;
  line-height: 0;
}

.model:first-of-type {
  margin-bottom: 0;
}

.model-x {
  background-image: url(../img/modelo-x.svg);
}

.model-y {
  background-image: url(../img/modelo-y.svg);
}

.model-z {
  background-image: url(../img/modelo-z.svg);
  background-color: var(--color-primary);
  color: var(--color-text-inverse);
}

@media (min-width: 992px) {
  .model-z {
    grid-column: 2/3;
    grid-row: 1/3;
    background-size: 25rem;
  }
  .model-z h3 {
    font-size: 4rem;
  }
}

.model-z .price {
  font-size: 6rem;
}

/** Newsletter **/

.newsletter {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100%, 70rem;
}
.notavif.notwebp .newsletter {
  background-image:
    linear-gradient(to bottom, transparent 50%, var(--color-background) 0%),
    url(../img/newsletter.jpg);
}
.webp .newsletter {
  background-image:
    linear-gradient(to bottom, transparent 50%, var(--color-background) 0%),
    url(../img/newsletter.webp);
}
.avif .newsletter {
  background-image:
    linear-gradient(to bottom, transparent 50%, var(--color-background) 0%),
    url(../img/newsletter.avif);
}

@media (min-width: 768px) {
  .newsletter {
    background-position:
      center,
      -21rem 0rem;
    background-size: 100%, 100rem;
    padding: 10rem 0;
  }
  .notavif.notwebp .newsletter {
    background-image:
      linear-gradient(to right, transparent 50%, var(--color-background) 0%),
      url(../img/newsletter.jpg);
  }
  .avif .newsletter {
    background-image:
      linear-gradient(to right, transparent 50%, var(--color-background) 0%),
      url(../img/newsletter.avif);
  }
  .webp .newsletter {
    background-image:
      linear-gradient(to right, transparent 50%, var(--color-background) 0%),
      url(../img/newsletter.webp);
  }
}

@media (min-width: 2200px) {
  .newsletter {
    background-size: 100%, 200rem;
    background-position:
      center,
      0% -30rem;
  }
}

.newsletter-content {
  display: grid;
  grid-template-rows: repeat(2, 30rem);
  gap: var(--space-5);
}

@media (min-width: 768px) {
  .newsletter-content {
    grid-template-rows: unset;
    grid-template-columns: repeat(2, 1fr);
  }
}

.newsletter-text {
  grid-row: 2/3;
}

@media (min-width: 768px) {
  .newsletter-text {
    grid-row: unset;
    grid-column: 2/3;
  }
}

.form input[type="text"] {
  width: 100%;
  padding: 1rem;
}

.form input[type="submit"] {
  width: 100%;
  padding: 2rem;
  background-color: var(--color-primary);
  color: var(--color-text-inverse);
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 900;
  border: none; /* Los inputs de tipo submit tienen un borde por defecto, que es mejor eliminar para que se vea mejor */
}

.form input[type="submit"]:hover {
  cursor: pointer;
}

/** Footer **/

.footer p {
  text-align: center;
  font-family: var(--font-secondary);
  text-transform: uppercase;
  font-size: 2rem;
  color: var(--color-primary);
  padding: 2rem 0;
}
